<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Budget App</title>
        
        
        <!-- not available on JSDelivr so using Cloudflare -->
        
        <!-- end Cloudflare -->
        
        <!-- local stylesheets, not available on jsdelivr -->
        
        
        
        </head>
        <header class="header">
        <a href="/dashboard" class="logo">
          Home Budget
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="navbar-btn sidebar-toggle"  data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu" dropdown>
                <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                  <i class="glyphicon glyphicon-user"></i>                  
                  <span>{{user.email}} <i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header bg-light-blue">
                    <img src="" class="img-circle" alt="User Image">
                    <div></div>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="/profile" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a [routerLink]="['/logout']" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        </header>
        
        <div class="wrapper">
        <aside class="left-side">
          <section class="sidebar">
            <div class="user-panel">
              <div class="image">
                <img src="" class="img-circle" alt="User Image">
              </div>
            </div>
            <ul class="sidebar-menu" bs-navbar>
              <li>
                <a [routerLink]="['/dashboard']" title="Show my budget overview">
                  <span class="fa fa-dashboard"></span> Dashboard
                </a>
              </li>
              <li>
                <a [routerLink]="['/manage']" title="Manage my budget" data-prefix="true">
                  <span class="fa fa-edit"></span> Manage 
                </a>
              </li>
              <li class="treeview">
                <a href="#" title="Manage my configuration">
                  <span class="fa fa-cogs"></span> Configuration
                  <span class="fa fa-angle-left pull-right"></span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a [routerLink]="['/configuration/category']" title="Manage my categories" data-prefix="true" style="margin-left: 10px;">
                      <span class="fa fa-angle-double-right"></span> Categories
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/configuration/budget']" title="Manage my budgets" data-prefix="true" style="margin-left: 10px;">
                      <span class="fa fa-angle-double-right"></span> Budgets
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a [routerLink]="['/report']" title="My budget reports">
                  <span class="fa fa-file-text"></span> Reports
                </a>
              </li>
            </ul>
          </section>
        </aside>
        <aside class="right-side">
          <router-outlet></router-outlet>
        
        </aside>
        </div>